<html lang="en">
<head>
    <link rel="stylesheet" href="/static/stylesheet.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Caesar</title>
</head>
<body>
        <div class="wrapper">
                <h1>WEB VIGENERE</h1> 
                <form action='/encrypt' class="form1" method="POST">
                    <p>1. Enter the text you want to encipher.</p>
                  <textarea id='orig' 
                            type="text"
                            name='text' 
                            class="original_text" 
                            placeholder="ORIGINAL TEXT"></textarea>
                  <p>2. Enter encryption key!.</p>
                  <div id=''>
                  <input id='orig' 
                         type="text" 
                         class="original_text" 
                         name='key' 
                         placeholder="KEY TEXT">
                  </div>
                  <div class="submit">
                  <input type="submit" class="submit" value="CLICK TO ENCIPHER!">
                  </div>
                </form>
              </div>
              
</body>
</html>








